#top_wrapper
{
	margin: 0% 2%;
	border: 5px solid #5d5d5d;
}
#home_sections
{
	width: 98%;
	padding: 0 1% 1% 1%;
}
.float_right
{
	float: right;
}
.float_left
{
	float: left;
}
.home_section
{
	width: 48%;
	padding: 1%;
}
.home_section_title
{
	background-color: #5d5d5d;
	color: #fff;
	border-right: 0.5em solid #9d9d9d;
	padding: 1%;
	margin-bottom: 1%;
}
.home_section_main
{
	width: 96%;
	padding: 2%;
	margin-top: 1%;
	background-color: #f0f0f0;
}
.sec_img
{
	margin-bottom: 1%;
}
.sec_img img
{
	display: block;
	max-width: 100%;
	margin: auto;
}
.sec_title
{
	padding-top: 1%;
	line-height: 1em;
	height: 4em;
}
.sec_title a
{
	color: #df2829;
	text-decoration: none;
}
.home_section_item
{
	width: 96%;
	padding: 2%;
	margin-top: 1%;
	background-color: #f0f0f0;
}
#mogaz_wrapper
{
}