*
{
	padding: 0em;
	margin: 0em;
	border: 0em;
}
.clearfix
{
	clear: both;
}
html,body 
{
	height: 100%;
}
body
{
	direction: rtl;
	text-align: right;
	background-color: #c31e1e;
	font-family: tahoma,Arial,Helvetica,sans-serif;
}
#global_container
{
	background-color: #c31e1e;
	position: fixed;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}
#white_background
{
	background-color: #fff;
	height: 100%;
	width: 96%;
	margin: 0% 2%;
}
#header
{
	background-color: #fff;
	border-top: 5px solid #2c2a2b;
	border-bottom: 5px solid #2c2a2b;
	position: fixed;
	top: 0px;
	right:0px;
	z-index: 100;
	width: 100%;
	height: 30px;
	padding: 10px 0px;

}
#header_place
{
	height: 60px;
}
#menu
{
	background-color: #fff;
	position: fixed;
	top: 60px;
	bottom: 0px;
	right: -100%;
	z-index: 100;
	overflow-y: scroll;
	width: 98%;
	padding: 1%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#menu ul
{
	z-index: 100;
	padding: 0% 2% 0% 2%;
	list-style: none;
}
#menu ul li
{
	margin: 2% 0%;
}
#menu ul li a, #menu ul li div
{
	z-index: 100;
	padding: 2% 1% 2% 0%;
	background-color: #5d5d5d;
	color: #fff;
	display: block;
	text-decoration: none;
	outline: none;
	
}
#menu ul li div
{
	border-right: 0.5em solid #9e9e9e;
}
#menu ul li a
{
	border-right: 0.5em solid #fff;
}
#menu ul li a:hover
{
	border-right-color: #df2829;
}
#menu_button
{
	float: right;
	padding: 5px 10px 0px 10px;
}
#logo
{
	float: right;
	padding: 0px 0px 0px 0px;
}
#search_button
{
	float: left;
	padding: 0px 10px;
}
#container
{
	background-color: #fff;
	width: 100%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#content
{
	background-color: #fff;
	width: 100%;
	padding: 2% 0% 0% 0%;
}
#story
{
	background-color: #fff;
	width: 100%;
}
#story_main_image_wrapper
{
	width: 100%;
}
#story_main_image
{
	margin: auto;
}
#story_main_image img
{
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
#story_body
{
	width: 96%;
	padding: 2% 2%;
}
#story_title
{
	width: 100%;
	padding: 3% 0% 0% 0%;
}
#story_title h3
{
	font-size: 1.25em;
	color: #df2829;
}
#story_info
{
	width: 100%;
	font-size: 0.8em;
	color: #7d7d7d;
}
#story_reporter
{
	padding: 2% 0%;
	width: 50%;
	float: right;
}
#story_date
{
	padding: 2% 0%;
	width: 50%;
	float: left;
	direction: ltr;
	text-align: left;
}
#story_reporter img,#story_date img
{
	padding: 0% 1%;
}
#story_text
{
	padding: 2% 0%;
}
hr
{
	border: 1px solid #c9c9c9;
}
