#story
{
	background-color: #fff;
	width: 100%;
}
#story_main_image_wrapper
{
	width: 100%;
}
#story_main_image
{
	margin: auto;
}
#story_main_image img
{
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
#story_body
{
	width: 96%;
	padding: 2% 2%;
}
#story_title
{
	width: 100%;
	padding: 3% 0% 0% 0%;
	color: #df2829;
}
#story_info
{
	width: 100%;
	font-size: 0.8em;
	color: #7d7d7d;
}
#story_reporter
{
	padding: 2% 0%;
	width: 50%;
	float: right;
}
#story_date
{
	padding: 2% 0%;
	width: 50%;
	float: left;
	direction: ltr;
	text-align: left;
}
#story_reporter img,#story_date img
{
	padding: 0% 1%;
}
#story_text
{
	padding: 2% 0%;
}
hr
{
	border: 1px solid #c9c9c9;
}
