@font-face {
    font-family: "GE_SS_Two_Bold";
    src: url("Fonts/GE_SS_Two_Bold.otf") format('embedded-opentype'); /* IE9 Compat Modes */
    src: url("Fonts/GE_SS_Two_Bold.otf?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("Fonts/GE_SS_Two_Bold.otf") format('woff'), /* Modern Browsers */
     url("Fonts/GE_SS_Two_Bold.otf") format('truetype'), /* Safari, Android, iOS */
     url("Fonts/GE_SS_Two_Bold.otf") format('svg'); /* Legacy iOS */
}


#section_title
{
	background-color: #5d5d5d;
	color: #fff;
	border-right: 0.5em solid #9d9d9d;
	padding: 1%;
	margin-bottom: 1%;
}
.section_block_title
{
	color: #df2829;
}
.section_block_title a
{
	color: #df2829;
	text-decoration: none;
	outline: none;
}
.section_block_date
{
	color: #df2829;
	font-size: 1em;
}
.section_block_abstract
{
	color: #5d5d5d;
	font-size: 1em;
}
.section_top
{
	width: 96%;
	min-height: 130px;
	background-color: #f0f0f0;
	margin: 1% 0%;
	padding: 2%;
}
.section_top_content
{
	display: inline;
	height: 200px;
	width: 50%;
	overflow-y: hidden;
}
.section_top_image
{
	text-align: left;
	float: left;
	width: 50%;
}
.section_top_image img
{
	text-align: left;
	float: left;
	width: 100%;
}
.section_block
{
	width: 96%;
	height: 160px;
	background-color: #f0f0f0;
	margin: 1% 0%;
	padding: 2%;
	overflow-y: hidden;
}
.section_block_image
{
	float: right;
	height: 65px;
	width: 85px;
}
.section_block_image img
{
	max-height: 65px;
	max-width: 85px;
}
.section_block_info
{
	margin-right: 85px;
	padding-right: 2%;
}
.section_block_title
{
	padding: 0% 0% 1% 1%;
}
.section_block_abstract
{
	padding: 2% 0% 0% 1%;
}