.rslides_tabs {
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

a {
  color: #fff;
  text-decoration: none;
  }
 #top_slider_pager a {
  display: inline-block;
}

#top_slider_pager div {
	background-color: #5d5d5d;
	width: 8px;
	height: 8px;
	margin: 1px;
	padding: 0px;
  	float: left;
}
#top_slider_pager .rslides_here div {
	background-color: #e21a27;
	margin: 0px;
	padding: 1px;
}

#top_slider_pager a {
  padding: 0;
}
.caption
{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #dd1724;
	width: 98%;
	line-height: 1em;
	height: 2em;
	padding: 1%;
}
.top_date
{
	width: 50%;
	height: auto;
	position: relative;
	bottom: 0px;
	left: 0;
	font-size: 0.75em;
	color: #d5d5d5;
	float: left;
	text-align: left;
	direction: ltr;
}