@font-face {
    font-family: "GE_SS_Two_Bold";
    src: url("Fonts/GE_SS_Two_Bold.otf") format('embedded-opentype'); /* IE9 Compat Modes */
    src: url("Fonts/GE_SS_Two_Bold.otf?#iefix") format('embedded-opentype'), /* IE6-IE8 */
     url("Fonts/GE_SS_Two_Bold.otf") format('woff'), /* Modern Browsers */
     url("Fonts/GE_SS_Two_Bold.otf") format('truetype'), /* Safari, Android, iOS */
     url("Fonts/GE_SS_Two_Bold.otf") format('svg'); /* Legacy iOS */
}

*
{
	padding: 0em;
	margin: 0em;
	border: 0em;
}
.clearfix
{
	clear: both;
}
html,body 
{
	height: 100%;
}
body
{
	direction: rtl;
	text-align: right;
	background-color: #c31e1e;
}
.title
{
	font-family: "GE_SS_Two_Bold";
	font-size: 1.25em;
}
#global_container
{
	background-color: #c31e1e;
	height: 100%;
	width: 100%;

}
#white_background
{
	position: absolute;
	top: 60px;
	bottom: 0px;
	background-color: #fff;
	width: 96%;
	margin: 0% 2%;
}
#header
{
	background-color: #fff;
	border-top: 5px solid #2c2a2b;
	border-bottom: 5px solid #2c2a2b;
	width: 100%;
	height: 30px;
	padding: 10px 0px;

}
#menu_background
{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	z-index: 99;
	position: absolute;
	top: 60px;
	bottom: 0px;
	visibility: hidden;
}
#menu
{
	background-color: #fff;
	position: absolute;
	top: 60px;
	bottom: 0px;
	right: -100%;
	z-index: 100;
	overflow-y: hidden;
	width: 60%;
	padding: 1%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#menu ul
{
	z-index: 100;
	padding: 0% 2% 0% 2%;
	list-style: none;
}
#menu ul li
{
	margin: 2% 0%;
}
#menu ul li a, #menu ul li div
{
	z-index: 100;
	padding: 2% 1% 2% 0%;
	background-color: #5d5d5d;
	color: #fff;
	display: block;
	text-decoration: none;
	outline: none;
	
}
#menu ul li div
{
	border-right: 0.5em solid #9e9e9e;
}
#menu ul li a
{
	border-right: 0.5em solid #fff;
}
#menu ul li a:hover
{
	border-right-color: #df2829;
}
#menu_button
{
	float: right;
	padding: 5px 10px 0px 10px;
}
#logo
{
	float: right;
	padding: 0px 0px 0px 0px;
}
#search_button
{
	float: left;
	padding: 0px 10px;
}
#container
{
	background-color: #fff;
	width: 100%;
}
#content
{
	background-color: #fff;
	width: 100%;
	padding: 2% 0% 0% 0%;
}